body {
  height: 95vh;
  background-image: url(/assets/ash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Gloria Hallelujah", cursive;
}

.image-outer-container {
  /*box-shadow: 0px 0px 0px 32px rgba(81, 100, 109, 1);*/
  position: absolute;
  width: 55%;
  height: 55%;
  margin: 0 auto;
  padding: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 3px solid black;
  vertical-align: center;
  background-color: #51646d;
  z-index: 10;
  text-align: center;
}

.image-container {
  /*box-shadow: 0px 0px 0px 32px rgba(81, 100, 109, 1);*/
  position: absolute;
  width: 45%;
  height: 45%;
  margin: 0 auto;
  padding: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 3px solid black;
  vertical-align: center;
  background-color: #fff;
  z-index: 10;
  text-align: center;
}

.logo-name {
  height: 150px;
  background-image: url(https://fontmeme.com/permalink/191002/0953c62cdf19cd7edbf71c4d2f216be0.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
}

.nav-item-text {
  padding: 10px;
}

.pokedex-image {
  width: 30%;
}

.image {
  width: 90%;
}

.card {
  overflow: hidden;
  position: relative;
  border: 3px solid black;
  background-color: #e64340;
  width: 12.5rem;
  border-radius: 122px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  transition: all 0.2s ease;
  height: 210px;
  width: 210px;
  box-shadow: 6px -1px 45px -6px rgba(0, 0, 0, 0.35);
}

.card:hover {
  transform: scale(1.05);
}

.link {
  color: white;
  font-size: 50px;
}

.link:hover {
  text-decoration: none;
  color: white;
}

.loading-indicator {
  text-align: center;
}

.btn {
  background-color: #e64340;
  color: white;
  border-radius: 15px;
}

.col-md-3 {
  flex: 0 0 23%;
}

.bottom-card {
  position: absolute;
  height: 50%;
  width: 100%;
  background-color: white;
  bottom: 0;

  border-bottom-left-radius: 122px;
  border-bottom-right-radius: 122px;
  border-top: 3px solid black;
  z-index: 0;
}
