body {
  height: 95vh;
  background-image: url(/assets/ash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.image-container {
  width: 125px;
  height: 125px;
  margin: 0 auto;
  padding: 0;
  border-radius: 50%;
  vertical-align: center;
  background-color: #fff;

  text-align: center;
}

.logo-name {
  height: 150px;
  background-image: url(https://fontmeme.com/permalink/191002/0953c62cdf19cd7edbf71c4d2f216be0.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.image {
  width: 80%;
  margin-top: 10%;
}

.card {
  background-color: #ffce56;
}
